@import "utils.scss";

body {
  background-color: $primary-color;
  font-family: "Bai Jamjuree", sans-serif;
}

p {
  opacity: 0.9;
  font-size: 1.1rem;
}

.bottom-banner {
  position: relative;
  margin-top: 200px;
  height: 460px;
  .content {
    color: #fff;
    p {
      width: 60%;
    }
  }
}

#consultants {
  padding: 130px 0px;

  p {
    width: 400px;
  }

  img {
    position: absolute;
    left: 22%;
    top: 25%;
  }
}

#about {
  height: 1300px;

  img {
    width: 1073px;
  }
  p {
    width: 60%;
  }
  h2 {
    font-size: 3.7rem;
  }

  h3 {
    font-size: 2.2rem;
  }

  .banner {
    position: relative;
    width: 92%;
    background-color: $secondary-color;
    .text {
      width: 50%;
    }

    .btn {
      position: absolute;
      right: 0;
      bottom: 0;
      border-radius: 0;
    }
  }
}

#testimonial {
  p {
    width: 90%;
  }

  

  .testimonials {
    &:hover .hidden {
      opacity: 1;
    }
    &:hover p {
      color: #fff;
    }
  }
}

#blog {
  .post {
    right: 0;
    bottom: -10%;
    position: absolute;
    width: 80%;
  }
}

.social {
  a {
    color: #fff;
  }
  svg {
    margin: 0 10px;
  }
}

.bi-arrow-up {
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
  width: 37px;
  height: 37px;
}

.bg-blue {
  background-color: $fourth-color;
  width: 60px;
  height: 60px;
  padding: 15px;
  border-radius: 50%;
  margin-left: 20px;
  cursor: pointer;
}
.bi-chat {
  transform: scaleX(-1);
}
.arrow {
  background-color: rgba($color: #555, $alpha: 0.5);
  padding: 9px;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  cursor: pointer;
}
