$primary-color: #1f1e38;
$secondary-color: #39ffbf;
$third-color: #f81d39;

.container-xxxl {
  max-width: 1600px;
  margin: 0 auto;
}

.debug {
  border: 1px red solid;
}

body {
  background-color: $primary-color;
  font-family: "Bai Jamjuree", sans-serif;
}

.btn {
  color: #000;
  text-transform: uppercase;
  padding: 20px 60px;
  font-weight: 500;
  letter-spacing: 2px;
  border: 0;
  &:hover {
    background-color: $third-color;
    color: #fff;
  }
}

.btn-primary {
  background-color: $secondary-color;
}

.btn-secondary {
  background-color: $third-color;
  color: #fff;
  &:hover {
    background-color: $primary-color;
    color: #fff;
  }
}

p {
  opacity: 0.7;
  font-size: 1.1rem;
}

.bottom-banner {
  position: relative;
  margin-top: 200px;
  .content {
    position: absolute;
    top: 50%;
    color: #fff;
  }
}

#consultants {
  padding: 130px 0px;

  p {
    width: 400px;
  }

  img {
    position: absolute;
    left: 22%;
    top: 25%;
  }
}

#about {
  height: 1300px;

  img {
    width: 1073px;
  }
  p {
    width: 60%;
  }
  h2 {
    font-size: 3.7rem;
  }

  h3 {
    font-size: 2.2rem;
  }

  .banner {
    position: relative;
    width: 92%;
    background-color: $secondary-color;
    .text {
      width: 50%;
    }

    .btn {
      position: absolute;
      right: 0;
      bottom: 0;
      border-radius: 0;
    }
  }
}

#testimonial {
  p {
    width: 90%;
  }
}

#blog {
  .post {
    right: 0;
    bottom: -10%;
    position: absolute;
    width: 80%;
  }
}

.line-wide {
  height: 3px;
  width: 100%;
  background-color: $secondary-color;
}

.line {
  height: 3px;
  width: 7%;
  background-color: $secondary-color;
}

.icon {
  background-color: #f81d39;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  position: relative;
}
